{% extends 'glasgowclubnights/main_base.html' %}
{% load staticfiles %}
{% block body_block %}

        <header class="masthead">

            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-6">
                        <p style="text-align: center;"><img src="{{ MEDIA_URL }}cathouselogo.png" class="img-rectangle"
                                                            class="img-responsive" alt="Cathouse" width="38%"
                                                            height="38%"></p>
                    </div>

                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="https://www.facebook.com/Cathouserocks/"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-facebook"> <span
                                class="network-name">Facebook</span></i></a>
                    </div>

                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="https://twitter.com/CathouseGlasgow"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-twitter"> <span
                                class="network-name">Twitter</span></i></a>
                    </div>


                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="https://www.instagram.com/cathouseglasgow/"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-instagram"> <span
                                class="network-name">Instagram</span></i></a>
                    </div>
                    <p></p>

                </div>

            </div>

            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img src="{{ MEDIA_URL }}cathouse.jpg" alt="Cathouse" class="img-responsive">
                        </div>
                    </div>
                    <div class="row">

                            <div class="col-md-6">
                                <h1 style="color: white;"> Cathouse </h1>
                                <h4 style="color: white;">>

                                    Cathouse is Scotland’s original & best rock club. Established in 1990 by owner
                                    Donald MacLeod the Cathouse started
                                    life in Brown Street in Glasgow before moving to its current, larger home at 15
                                    Union Street in 1995.
                                    Now in our 25th year, we’re not afraid to embrace some genres you might not to
                                    expect in a traditional rock club.
                                    Times change, tastes change and we like to make sure we play a mix of tunes
                                    throughout our 3 rooms.
                                </h4>
                                <h4 style="color: white;">>
                                    Hosting space across The Cathouse and our sister club The Garage we have an
                                    impressive arsenal of space and equipment at our disposal.
                                    If you’re interested in gigging here then check out our contact page for our venue
                                    spec.
                                </h4>
                                <h4 style="color: white;">>
                                    We host a tonne of club nights, covering everything you could possibly want from
                                    classic rock, metal and punk right into hip-hop and dance.
                                    We cater to everyone and exclude nobody so you’re guaranteed to find a night you’ll
                                    love.


                                </h4>


                                <button type="button" class="btn btn-info btn-lg" id="hoursbutton">
                                    Opening Hours
                                </button>

                                <div class="modal" id="myModal">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <span class="close">&times;</span>
                                            <div class="modal-header">
                                                <h4 class="modal-title">Cathouse Opening Hours</h4>
                                            </div>
                                            <div class="modal-body">

                                                <p>Weekly</p>
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Day</th>
                                                        <th>Opens at</th>
                                                        <th>Closes at</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>Wednesday</td>
                                                        <td>11.00pm</td>
                                                        <td>3.00am</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Thursday</td>
                                                        <td>11.00pm</td>
                                                        <td>3.00am</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Friday</td>
                                                        <td>10.30pm</td>
                                                        <td>03.00am</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Saturday</td>
                                                        <td>10.30pm</td>
                                                        <td>03.00am</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Sunday</td>
                                                        <td>11.00pm</td>
                                                        <td>03.00am</td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("hoursbutton");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
    </script>
            <div class="container">
                <h2 style="text-align:center; color:white">Club Nights at Cathouse</h2>
                <hr>
                <div>
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{ MEDIA_URL }}beastwednesday.jpg"
                                 alt="Beast" width="25%" height="25%">
                        </div>
                        <div class="col-md-4">
                            <img src="{{ MEDIA_URL }}unholythursdays.jpg"
                                 alt="unholy" width="30%" height="30%" class="image">
                        </div>
                        <div class="col-md-3">
                            <img src="{{ MEDIA_URL }}cathousefridays.jpg"
                                 alt="cathouse" width="40%" height="40%" class="image">
                        </div>
                    </div>
                </div>
            <div class="container">
            <h2 style="text-align:center; color:white">Cathouse Reviews</h2>
            <hr>


            <div class="container">
                <div id="stars" class="starrr">
                    <div class="row">
                        <table class="table table-condensed" style="color: white">
                            <thead>
                            <tr>
                                <th> Username</th>
                                <th> Club</th>
                                <th> Rating</th>
                            </tr>
                            </thead>
                            {% for review in club_name %}
                                <tbody>

                                <td> {{ review.name }} </td>
                                <td> {{ review.club_list }} </td>
                                <td>{{ review.club_rating }}</td>
                                </tbody>
                            {% endfor %}

                        </table>
                    </div>
                </div>


            </div>

        </div>
    </header>
    </div>
    <div class=container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4478.336820899585!2d-4.25917058007171!3d55.85974443594849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf6f9f1a254d72b45!2sThe+Cathouse!5e0!3m2!1sen!2suk!4v1520427797312"
                width="100%;" height="50%;" frameborder="0" style="position:absolute;" allowfullscreen></iframe>
    </div>




{% endblock %}