{% extends 'glasgowclubnights/main_base.html' %}
{% load staticfiles %}
{% block body_block %}

        <header class="masthead">

            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-6">
                        <p style="text-align: center;"><img src="{{ MEDIA_URL }}hivelogo1.jpg" class="img-circle"
                                                            class="img-responsive" alt="hivelogo" width="50%"
                                                            height="50%"></p>
                    </div>

                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="https://www.facebook.com/GUUHive/"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-facebook"> <span
                                class="network-name">Facebook</span></i></a>
                    </div>

                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="https://twitter.com/guunion?lang=en"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-twitter"> <span
                                class="network-name">Twitter</span></i></a>
                    </div>


                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="http://www.guu.co.uk/instagram"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-instagram"> <span
                                class="network-name">Instagram</span></i></a>
                    </div>
                    <p></p>

                </div>

            </div>

            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img src="{{ MEDIA_URL }}hive.jpg" alt="Kokomo" class="img-responsive">
                        </div>
                    </div>
                    <div class="row">

                            <div class="col-md-6">
                                <h1 style="color: white;"> Hive Night Club</h1>
                                <h4 style="color: white;">>
                                    The legend that is the Hive lives on this year as the only place to spend your
                                    Thursday night.
                                    The Hive will offer the best value drinks, a sound system to beat all others in
                                    Glasgow
                                    and incredible visual effects at our purpose built club right in the heart of the
                                    West End.
                                </h4>
                                <h4 style="color: white;">>
                                    Complete with Podium and twelve metre long bar, the Union is set to become the
                                    ultimate night out for the students of Glasgow open every Thursday and Saturday
                                    night.
                                </h4>

                                <button type="button" class="btn btn-info btn-lg" id="hoursbutton">
                                    Opening Hours
                                </button>

                                <div class="modal" id="myModal">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <div class="modal-header">
                                            <h4 class="modal-title">Hive Opening Hours</h4>
                                        </div>
                                        <div class="modal-body">

                                            <p>Weekly</p>
                                           <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Day</th>
                                                        <th>Opens at</th>
                                                        <th>Closes at</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    <tr>
                                                        <td>Thursday</td>
                                                        <td>10.00pm</td>
                                                        <td>02.00am</td>

                                                    </tr>

                                                    <tr>
                                                        <td>Saturday</td>
                                                        <td>10.00pm</td>
                                                        <td>02.00am</td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                // Get the modal
                var modal = document.getElementById('myModal');

                // Get the button that opens the modal
                var btn = document.getElementById("hoursbutton");

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

                // When the user clicks the button, open the modal
                btn.onclick = function () {
                    modal.style.display = "block";
                }

                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal.style.display = "none";
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            </script>

            <div class="container">
            <h2 style="text-align:center; color:white">Club Nights at Hive</h2>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <img src="{{ MEDIA_URL }}hivethursday.jpg"
                         alt="juicy tuesday" width="50%" height="50%">
                </div>

                <div class="col-md-4">
                    <img src="{{ MEDIA_URL }}switchsaturday.jpg"
                         alt="juicy tuesday" width="90%" height="90%">
                </div>
            </div>
        </div>

        <div class="container">
            <h2 style="text-align:center; color:white">Hive Reviews</h2>
            <hr>


            <div class="container">
                <div id="stars" class="starrr">
                    <div class="row">
                        <table class="table table-condensed" style="color: white">
                            <thead>
                            <tr>
                                <th> Username</th>
                                <th> Club</th>
                                <th> Rating</th>
                            </tr>
                            </thead>
                            {% for review in club_name %}
                                <tbody>

                                <td> {{ review.name }} </td>
                                <td> {{ review.club_list }} </td>
                                <td>{{ review.club_rating }}</td>
                                </tbody>
                            {% endfor %}

                        </table>
                    </div>
                </div>


            </div>


        </div>

        </header>

    </div>
    <div class=container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8954.141668975806!2d-4.295446379605311!3d55.870726528675775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488845cd5e3324f1%3A0x40a28a42695f9e77!2sThe+Hive!5e0!3m2!1sen!2suk!4v1520427943944"
                width="100%;" height="50%;" frameborder="0" style="position:absolute;" allowfullscreen></iframe>
    </div>




{% endblock %}