{% extends 'glasgowclubnights/main_base.html' %}
{% load staticfiles %}
{% block body_block %}

        <header class="masthead">

            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-6">
                        <p style="text-align: center;"><img src="{{ MEDIA_URL }}kokomologo.png" class="img-rectangle"
                                                            class="img-responsive" alt="Kokomologo" width="220"
                                                            height="220"></p>
                    </div>

                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="https://www.facebook.com/KokomoGlasgow/"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-facebook"> <span
                                class="network-name">Facebook</span></i></a>
                    </div>

                    <div class="col-md-4">
                        <p style="text-align: center;"><a
                                href="https://twitter.com/kokomoglasgow?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                                class="btn btn-default btn-lg"><i
                                class="fa fa-twitter"> <span
                                class="network-name">Twitter</span></i></a>
                    </div>


                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="https://www.instagram.com/kokomo_glasgow/?hl=en"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-instagram"> <span
                                class="network-name">Instagram</span></i></a>
                    </div>
                    <p></p>

                </div>

            </div>

            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img src="{{ MEDIA_URL }}kokomo1.jpg" alt="Kokomo" class="img-responsive">
                        </div>
                    </div>
                    <div class="row">

                            <div class="col-md-6">
                                <h1 style="color: white;"> Kokomo Night Club</h1>
                                <h4 style="color: white;">>
                                    KOKOMO is a 2 room nightclub at the heart of Glasgow’s vibrant nightlife scene and
                                    is first choice for Glasgow party goers every Monday, Thursday, Friday & Saturday.
                                </h4>
                                <h4 style="color: white;">>
                                    Every night Kokomo is open, they offer amazing drinks promos with music from the
                                    best DJ’s in the city. KOKOMO is the perfect place to dance,
                                    drink and have fun with the club boasting a state of the art sound and lighting
                                    system to make every night you have with us unforgettable.
                                </h4>
                                <h4 style="color: white;">>
                                    The attention to detail in design of the club is just as apparent in the service.
                                    Friendly staff, great promos and good times are our bywords.
                                    Simply put, KOKOMO is conceived to have the DNA of another simple three-letter word,
                                    FUN.
                                </h4>


                                <button type="button" class="btn btn-info btn-lg" id="hoursbutton">
                                    Opening Hours
                                </button>

                                <div class="modal" id="myModal">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <div class="modal-header">
                                            <h4 class="modal-title">Kokomo Opening Hours</h4>
                                        </div>
                                        <div class="modal-body">

                                            <p>Weekly</p>
                                            <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Day</th>
                                                        <th>Opens at</th>
                                                        <th>Closes at</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>Monday</td>
                                                        <td>11.00pm</td>
                                                        <td>03.00am</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Thursday</td>
                                                        <td>10.30pm</td>
                                                        <td>03.00am</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Friday</td>
                                                        <td>10.00pm</td>
                                                        <td>03.00am</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Saturday</td>
                                                        <td>10.00pm</td>
                                                        <td>03.00am</td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                // Get the modal
                var modal = document.getElementById('myModal');

                // Get the button that opens the modal
                var btn = document.getElementById("hoursbutton");

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

                // When the user clicks the button, open the modal
                btn.onclick = function () {
                    modal.style.display = "block";
                }

                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal.style.display = "none";
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            </script>

    <div class="container">
        <h2 style="text-align:center; color:white">Club Nights at Kokomo</h2>
        <hr>
        <div>
            <div class="row">
                <div class="col-md-5">
                    <img src="{{ MEDIA_URL }}movinfridays.png"
                         alt="juicy tuesday" width="23%" height="23%">
                </div>
                <div class="col-md-4">
                    <img src="{{ MEDIA_URL }}milehighmonday.jpg"
                         alt="loco" width="30%" height="30%">
                </div>
                <div class="col-md-3">
                    <img src="{{ MEDIA_URL }}kokomosaturdays.jpg"
                         alt="milk" width="40%" height="40%">
                </div>
            </div>
        </div>

        <div class="container">
            <h2 style="text-align:center; color:white">Kokomo Reviews</h2>
            <hr>


            <div class="container">
                <div id="stars" class="starrr">
                    <div class="row">
                        <table class="table table-condensed" style="color: white">
                            <thead>
                            <tr>
                                <th> Username</th>
                                <th> Club</th>
                                <th> Rating</th>
                            </tr>
                            </thead>
                            {% for review in club_name %}
                                <tbody>

                                <td> {{ review.name }} </td>
                                <td> {{ review.club_list }} </td>
                                <td>{{ review.club_rating }}</td>
                                </tbody>
                            {% endfor %}

                        </table>
                    </div>
                </div>


            </div>






    </div>


    </header>

    </div>
    <div class=container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4478.023405983299!2d-4.261266900711529!3d55.86246335924485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488844209a846457%3A0x4c541901042a5371!2sKokomo+Glasgow!5e0!3m2!1sen!2suk!4v1520427971986"
                width="100%;" height="50%;" frameborder="0" style="position:absolute;" allowfullscreen></iframe>
    </div>




{% endblock %}