{% extends 'glasgowclubnights/main_base.html' %}
{% load staticfiles %}
{% block body_block %}

    <header class="masthead">

        <div class="container">

            <div class="row">
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <p style="text-align: center;"><img src="{{ MEDIA_URL }}kushionLogo.jpg" class="img-circle"
                                                        class="img-responsive" alt="Kushion"></p>
                </div>

                <div class="col-md-3">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p style="text-align: center;"><a href="https://www.facebook.com/kushionglasgow/"
                                                      class="btn btn-default btn-lg"><i
                            class="fa fa-facebook"> <span
                            class="network-name">Facebook</span></i></a>
                </div>

                <div class="col-md-4">
                    <p style="text-align: center;"><a href="https://twitter.com/KUSHIONCLUB"
                                                      class="btn btn-default btn-lg"><i
                            class="fa fa-twitter"> <span
                            class="network-name">twitter</span></i></a>
                </div>


                <div class="col-md-4">
                    <p style="text-align: center;"><a href="https://www.instagram.com/kushionglasgow/"
                                                      class="btn btn-default btn-lg"><i
                            class="fa fa-instagram"> <span
                            class="network-name">instagram</span></i></a>
                </div>
                <p></p>

            </div>

        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="{{ MEDIA_URL }}kushion.jpg" alt="Kushion" class="img-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h1 style="color: white;"> Kushion Night Club</h1>
                        <h4 style="color: white;">> Glasgow’s biggest student night! Considered a Tuesday night
                            institution for students,
                            with
                            a
                            whole weekend worth of fun packed into one night.

                            Cheap drinks, great music and the opposite sex, definitely worth missing lectures
                            for!

                            Keep a look out for weekly events.

                            Drinks from £1</h4>
                        <h4 style="color: white;">>
                            Let your inhibitions go at Loco, our premium student night. Featuring weekly events,
                            guest
                            DJs
                            and midweek booth package offers.

                            Students Go Free. £1 Drinks

                            Every Thursday


                        </h4>
                        <h4 style="color: white;">
                            Milk has arrived in Glasgow, it’s good for your bones and even better for your soul.

                            We’ve teamed up with international party starters Milk to bring you the Friday
                            nights
                            full
                            of
                            house, hip hop, disco and lots of the white stuff.

                            Milkshake cocktails available all night.


                        </h4>


                        <button type="button" class="btn btn-info btn-lg" id="hoursbutton">
                            Opening Hours
                        </button>

                        <div class="modal" id="myModal">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <div class="modal-header">
                                    <h4 class="modal-title">Kushion Lounge Opening Hours</h4>
                                </div>
                                <div class="modal-body">

                                    <p>Weekly</p>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Day</th>
                                            <th>Opens at</th>
                                            <th>Closes at</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Tuesday</td>
                                            <td>10.30</td>
                                            <td>03.00</td>

                                        </tr>
                                        <tr>
                                            <td>Thursday</td>
                                            <td>10.30</td>
                                            <td>03.00</td>

                                        </tr>
                                        <tr>
                                            <td>Friday</td>
                                            <td>10.30</td>
                                            <td>03.00</td>

                                        </tr>
                                        <tr>
                                            <td>Saturday</td>
                                            <td>10.30</td>
                                            <td>03.00</td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script>
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal
            var btn = document.getElementById("hoursbutton");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>


        <div class="container">
            <h2 style="text-align:center; color:white">Club Nights at Kushion</h2>
            <hr>
            <div class="row">
                <div class="col-md-5">
                    <img src="{{ MEDIA_URL }}juicytuesday.png"
                         alt="juicy tuesday" width="50%" height="50%">
                </div>
                <div class="col-md-4">
                    <img src="{{ MEDIA_URL }}locothursday1.png"
                         alt="loco" width="60%" height="60%">
                </div>
                <div class="col-md-3">
                    <img src="{{ MEDIA_URL }}milkfriday.png"
                         alt="milk" width="60%" height="60%">
                </div>

            </div>
        </div>

        <div class="container">
            <h2 style="text-align:center; color:white">Kushion Reviews</h2>
            <hr>


            <div class="container">
                <div id="stars" class="starrr">
                    <div class="row">
                        <table class="table table-condensed" style="color: white">
                            <thead>
                            <tr>
                                <th> Username</th>
                                <th> Club</th>
                                <th> Rating</th>
                            </tr>
                            </thead>
                            {% for review in club_name %}
                                <tbody>

                                <td> {{ review.name }} </td>
                                <td> {{ review.club_list }} </td>
                                <td>{{ review.club_rating }}</td>
                                </tbody>
                            {% endfor %}

                        </table>
                    </div>
                </div>


            </div>


        </div>
    </header>
    </div>
    <div class=container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2238.8884381880116!2d-4.263101684065109!3d55.86460198058351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4888442722791533%3A0xbc3a66dc4125abce!2sKushion!5e0!3m2!1sen!2suk!4v1521811126970"
                width="100%;" height="50%;" frameborder="0" style="position:absolute;" allowfullscreen></iframe>
    </div>

{% endblock %}