{% extends 'glasgowclubnights/main_base.html' %}
{% load staticfiles %}
{% block body_block %}

        <header class="masthead">

            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-6">
                        <p style="text-align: center;"><img src="{{ MEDIA_URL }}sanctuary_logo.png"
                                                            class="img-rectangle"
                                                            class="img-responsive" alt="Sanctuary Logo" width="70%" height="70%"></p>
                    </div>

                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="https://www.facebook.com/thesanctuarygla/"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-facebook"> <span
                                class="network-name">Facebook</span></i></a>
                    </div>

                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="https://twitter.com/sanctuarygla?lang=en"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-twitter"> <span
                                class="network-name">Twitter</span></i></a>
                    </div>


                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="https://www.instagram.com/sanctuarygla/"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-instagram"> <span
                                class="network-name">Instagram</span></i></a>
                    </div>
                    <p></p>

                </div>

            </div>

            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img src="{{ MEDIA_URL }}thesancturary.jpg" alt="Sanctuary" class="img-responsive">
                        </div>
                    </div>
                    <div class="row">

                            <div class="col-md-6">
                                <h1 style="color: white;"> The Sanctuary</h1>
                                <h4 style="color: white;">>
                                    The Sanctuary gives you an innovative and high-end concept to bring you the perfect
                                    clubbing experience.
                                    The Sanctuary prides itself on bringing you that savoir-faire that you strive for 4
                                    nights a week with our commitment purely
                                    on you with our team of top DJ’s, staff and exquisite service.
                                </h4>
                                <h4 style="color: white;">>
                                    Located in the heart of the West End, The Sanctuary provides you with a diverse
                                    range of music across our 2 specially designed rooms,
                                    as well as offering you the opportunity to take in our VIP treatment that brings a
                                    different intimate ambiance.
                                </h4>

                                <button type="button" class="btn btn-info btn-lg" id="hoursbutton">
                                    Opening Hours
                                </button>

                                <div class="modal" id="myModal">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <span class="close">&times;</span>
                                            <div class="modal-header">
                                                <h4 class="modal-title">Sanctuary Opening Hours</h4>
                                            </div>
                                            <div class="modal-body">

                                                <p>Weekly</p>
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Day</th>
                                                        <th>Opens at</th>
                                                        <th>Closes at</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>Wednesday</td>
                                                        <td>10.30pm</td>
                                                        <td>2.00am</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Friday</td>
                                                        <td>11.00pm</td>
                                                        <td>2.00am</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Saturday</td>
                                                        <td>10.00am</td>
                                                        <td>02.00am</td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("hoursbutton");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
            <div class="container">
                <h2 style="text-align:center; color:white">Club Nights at The Sanctuary</h2>
                <hr>
                <div>
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{ MEDIA_URL }}fridayclub.jpg"
                                 alt="juicy tuesday" width="28%" height="28%">
                        </div>
                        <div class="col-md-4">
                            <img src="{{ MEDIA_URL }}dirtypanda.jpg"
                                 alt="loco" width="35%" height="35%">
                        </div>
                        <div class="col-md-3">
                            <img src="{{ MEDIA_URL }}sanctuarysaturdays.jpg"
                                 alt="milk" width="45%" height="45%">
                        </div>
                    </div>
                </div>
            </div>



        <div class="container">
            <h2 style="text-align:center; color:white">The Sanctuary Reviews</h2>
            <hr>


            <div class="container">
                <div id="stars" class="starrr">
                    <div class="row">
                        <table class="table table-condensed" style="color: white">
                            <thead>
                            <tr>
                                <th> Username</th>
                                <th> Club</th>
                                <th> Rating</th>
                            </tr>
                            </thead>
                            {% for review in club_name %}
                                <tbody>

                                <td> {{ review.name }} </td>
                                <td> {{ review.club_list }} </td>
                                <td>{{ review.club_rating }}</td>
                                </tbody>
                            {% endfor %}

                        </table>
                    </div>
                </div>





        </div>
        </header>

    </div>
    <div class=container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8954.299518957627!2d-4.297202052966245!3d55.870041917243825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb20a141c11b150c1!2sThe+Sanctuary!5e0!3m2!1sen!2suk!4v1520428186446"
                width="100%;" height="50%;" frameborder="0" style="position:absolute;" allowfullscreen></iframe>
    </div>




{% endblock %}