{% extends 'glasgowclubnights/main_base.html' %}
{% load staticfiles %}
{% block body_block %}

        <header class="masthead">

            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-6">
                        <p style="text-align: center;"><img src="{{ MEDIA_URL }}shimmylogo.png" class="img-rectangle"
                                                            class="img-responsive" alt="Shimmy Logo"></p>
                    </div>

                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="https://www.facebook.com/ShimmyClubGlasgow"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-facebook"> <span
                                class="network-name">Facebook</span></i></a>
                    </div>

                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="https://twitter.com/ShimmyClub"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-twitter"> <span
                                class="network-name">Twitter</span></i></a>
                    </div>


                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="https://www.instagram.com/shimmyclub/"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-instagram"> <span
                                class="network-name">Instagram</span></i></a>
                    </div>
                    <p></p>

                </div>

            </div>

            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img src="{{ MEDIA_URL }}shimmy.jpg" alt="Shimmy" class="img-responsive">
                        </div>
                    </div>
                    <div class="row">

                            <div class="col-md-6">
                                <h1 style="color: white;"> The Shimmy Club</h1>
                                <h4 style="color: white;">>
                                    The Shimmy Club is all about good times, from our premium booth and bottle hostess
                                    experience,
                                    to no holds barred student nights and a state of the art sound system so good that
                                    nothing will ever quite compare.
                                </h4>
                                <h4 style="color: white;">>
                                    Bartender Greg Kerr is sure to satisfy your every need as he sorts you with preimum
                                    vod lemonades all night long.
                                    This boy truly has incredible stamina and some might say "Shimmy's best ass-et".
                                    From either side of the bar you are
                                    100% guaranteed to be swept off your feet.
                                </h4>


                                 <button type="button" class="btn btn-info btn-lg" id="hoursbutton">
                                    Opening Hours
                                </button>

                                <div class="modal" id="myModal">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <span class="close">&times;</span>
                                            <div class="modal-header">
                                                <h4 class="modal-title">Shimmy Opening Hours</h4>
                                            </div>
                                            <div class="modal-body">

                                                <p>Weekly</p>
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Day</th>
                                                        <th>Opens at</th>
                                                        <th>Closes at</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>Wednesday</td>
                                                        <td>10.30pm</td>
                                                        <td>3.00am</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Friday</td>
                                                        <td>10.30pm</td>
                                                        <td>3.00am</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Saturday</td>
                                                        <td>10.30pm</td>
                                                        <td>03.00am</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Saturday</td>
                                                        <td>10.30pm</td>
                                                        <td>03.00am</td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("hoursbutton");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

            <div class="container">
                <h2 style="text-align:center; color:white">Club Nights at The Shimmy Club</h2>
                <hr>
                <div>
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{ MEDIA_URL }}nowayshimmy.jpg"
                                 alt="juicy tuesday" width="28%" height="28%">
                        </div>
                        <div class="col-md-4">
                            <img src="{{ MEDIA_URL }}shimmysaturday.jpg"
                                 alt="loco" width="35%" height="35%">
                        </div>
                        <div class="col-md-3">
                            <img src="{{ MEDIA_URL }}feelgoodfriday.jpg"
                                 alt="milk" width="50%" height="50%">
                        </div>
                    </div>
                </div>


        <div class="container">
            <h2 style="text-align:center; color:white">The Shimmy Club Reviews</h2>
            <hr>


            <div class="container">
                <div id="stars" class="starrr">
                    <div class="row">
                        <table class="table table-condensed" style="color: white">
                            <thead>
                            <tr>
                                <th> Username</th>
                                <th> Club</th>
                                <th> Rating</th>
                            </tr>
                            </thead>
                            {% for review in club_name %}
                                <tbody>

                                <td> {{ review.name }} </td>
                                <td> {{ review.club_list }} </td>
                                <td>{{ review.club_rating }}</td>
                                </tbody>
                            {% endfor %}

                        </table>
                    </div>
                </div>


            </div>


        </div>
        </header>

    </div>
    <div class=container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4478.329451783927!2d-4.258703470827618!3d55.85980836518085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4888469f9e53ce8d%3A0xa569f8ecad77743d!2sThe+Shimmy+Club!5e0!3m2!1sen!2suk!4v1520428246798"
                width="100%;" height="50%;" frameborder="0" style="position:absolute;" allowfullscreen></iframe>
    </div>




{% endblock %}