{% extends 'glasgowclubnights/main_base.html' %}

{% block body_block %}

<!-- List containing links to each club in our directory -->
    <section id="background">
        <header class="mastheadBottom">
            <div class="container">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <a href="{% url 'bamboo' %}">
                        <p style="align-content: center"><img src="{{ MEDIA_URL }}bamboo.jpg" class="img-circle"
                                                              class="img-responsive"
                                                              style="width: 40%" alt="Bamboo" width="200" height="200"></p>
                    </a>
                    <div class="centered">Bamboo<br></div>
                </div>
                <div class="col-md-3">
                </div>

                <div class="col-md-12">
                    <hr>
                </div>
            </div>

            <div class="container">

            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <a href="{% url 'cathouse' %}">
                        <p style="align-content: center"><img src="{{ MEDIA_URL }}cathouse.jpg" class="img-circle"
                                                              class="img-responsive"
                                                              style="width: 40%" alt="Cathouse"></p>
                    </a>
                    <div class="centered">Cathouse<br></div>
                </div>
                <div class="col-md-3">
                </div>

                <div class="col-md-12">
                    <hr>
                </div>
            </div>

            <div class="container">
            </div>
            <div class="row">
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <a href="{% url 'firewater' %}">
                        <p style="align-content: center"><img src="{{ MEDIA_URL }}firewater.jpg" class="img-circle"
                                                              class="img-responsive"
                                                              style="width: 40%" alt="Firewater"></p>
                    </a>
                    <div class="centered">Firewater<br></div>
                </div>
                <div class="col-md-3">
                </div>


            </div>

            <div class="container">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <a href="{% url 'garage' %}">
                        <p style="align-content: center"><img src="{{ MEDIA_URL }}garage.jpg" class="img-circle"
                                                              class="img-responsive"
                                                              style="width: 40%" alt="Garage"></p>
                    </a>
                    <div class="centered">Garage<br></div>
                </div>
                <div class="col-md-3">
                </div>


            </div>
            <div class="container">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <a href="{% url 'hive' %}">
                        <p style="align-content: center"><img src="{{ MEDIA_URL }}hive.jpg" class="img-circle"
                                                              class="img-responsive"
                                                              style="width: 40%" alt="Hive"></p>
                    </a>
                    <div class="centered">Hive<br></div>
                </div>
                <div class="col-md-3">
                </div>


            </div>
            <div class="container">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <a href="{% url 'kokomo' %}">
                        <p style="align-content: center"><img src="{{ MEDIA_URL }}kokomo1.jpg" class="img-circle"
                                                              class="img-responsive"
                                                              style="width: 40%" alt="Kokomo"></p>
                    </a>
                    <div class="centered">Kokomo<br></div>
                </div>
                <div class="col-md-3">
                </div>


            </div>
            <div class="container">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <a href="{% url 'kushion' %}">
                        <p style="align-content: center"><img src="{{ MEDIA_URL }}kushion.jpg" class="img-circle"
                                                              class="img-responsive"
                                                              style="width: 40%" alt="Kushion"></p>
                    </a>
                    <div class="centered">Kushion<br></div>
                </div>
                <div class="col-md-3">
                </div>


            </div>
            <div class="container">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <a href="{% url 'la_cheetah' %}">
                        <p style="align-content: center"><img src="{{ MEDIA_URL }}lacheetah.jpg" class="img-circle"
                                                              class="img-responsive"
                                                              style="width: 40%" alt="La Cheetah"></p>
                    </a>
                    <div class="centered">La Cheetah<br></div>
                </div>
                <div class="col-md-3">
                </div>


            </div>
            <div class="container">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <a href="{% url 'mango' %}">
                        <p style="align-content: center"><img src="{{ MEDIA_URL }}mango.jpg" class="img-circle"
                                                              class="img-responsive"
                                                              style="width: 40%" alt="Mango"></p>
                    </a>
                    <div class="centered">Mango<br></div>
                </div>
                <div class="col-md-3">
                </div>


            </div>
            <div class="container">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <a href="{% url 'polo' %}">
                        <p style="align-content: center"><img src="{{ MEDIA_URL }}polo.jpg" class="img-circle"
                                                              class="img-responsive"
                                                              style="width: 40%" alt="The Polo Lounge"></p>
                    </a>
                    <div class="centered">Polo<br></div>
                </div>
                <div class="col-md-3">
                </div>


            </div>
            <div class="container">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <a href="{% url 'sanctuary' %}">
                        <p style="align-content: center"><img src="{{ MEDIA_URL }}thesancturary.jpg" class="img-circle"
                                                              class="img-responsive"
                                                              style="width: 40%" alt="The Sanctuary"></p>
                    </a>
                    <div class="centered">Sanctuary<br></div>
                </div>
                <div class="col-md-3">
                </div>


            </div>
            <div class="container">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <a href="{% url 'shimmy' %}">
                        <p style="align-content: center"><img src="{{ MEDIA_URL }}shimmy.jpg" class="img-circle"
                                                              class="img-responsive"
                                                              style="width: 40%" alt="Shimmy"></p>
                    </a>
                    <div class="centered">Shimmy<br></div>
                </div>
                <div class="col-md-3">
                </div>


            </div>
            <div class="container">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <a href="{% url 'subclub' %}">
                        <p style="align-content: center"><img src="{{ MEDIA_URL }}subclub.jpg" class="img-circle"
                                                              class="img-responsive"
                                                              style="width: 40%" alt="Subclub"></p>
                    </a>
                    <div class="centered">Subclub<br></div>
                </div>
                <div class="col-md-3">
                </div>


            </div>



            </div>
            <div class="container">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <a href="{% url 'viper' %}">
                        <p style="align-content: center"><img src="{{ MEDIA_URL }}viper.jpg" class="img-circle"
                                                              class="img-responsive"
                                                              style="width: 40%" alt="Viper"></p>
                    </a>
                    <div class="centered">Viper<br></div>
                </div>
                <div class="col-md-3">
                </div>

                <div class="col-md-12">
                    <hr>
                </div>
            </div>
<!-- End of list -->
        </header>
    </section>
{% endblock %}