{% extends 'glasgowclubnights/main_base.html' %}
{% block body_block %}
<!-- Code for carousel -->
     <section id="intro">
        <div class="container">
            <section id="carousel-title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <p id="carousel-header" class="opacityPulse-css"></p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">

                            <div class="item active">
                                <div id="first">

                                </div>
                                <div class="carousel-caption">
                                    <h2 id="cap1"></h2>
                                </div>
                            </div>

                            <div class="item">
                                <div id="second">

                                </div>

                                <div class="carousel-caption">
                                    <h2 id="cap2"></h2>
                                </div>
                            </div>

                            <div class="item">
                                <div id="third">

                                </div>
                                <div class="carousel-caption">
                                    <h2 id="cap3"></h2>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </section>
        </div>

<!-- sources the top rated clubs from database, displays them as text & images -->
        <div class="container">
            <div class="row">
                    <div class="col-md-6"><h2 style="text-align:left">Top-rated Clubs</h2></div>
                    <div class="col-md-6"><h2 style="text-align:right">Our Club Nights</h2></div>

            <div class="container">
                 <div class="row">
                    <div class="col-md-2"></div>
                     {% if clubs %}
                     <div class="clubCircle">
                        <div class="col-md-3" id ="ratedpics">
                            {% for popular in clubs %}

                                    <!-- short script to remove the capital letter from the start of club names -->
                                    <script>
                                        var clubImage = document.createElement("IMG");
                                        name = "{{ popular.name }}";
                                        filter = name.toLowerCase();
                                        picSrc = "{{ MEDIA_URL }}" + filter + ".jpg";
                                        clubImage.src = picSrc;
                                        clubImage.alt = name;
                                        document.getElementById('ratedpics').appendChild(clubImage)
                                    </script>
                                    <h4 id="ratedText" style="text-align: left" class="modal-footer">{{ popular.name }}</h4>

                            {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                    <div class="col-md-5">
                        {% if nights %}

                            {% for night in nights %}
                                <p>
                                    <h4 style="text-align:right">{{night}}</h4>
                                </p>

                            {% endfor %}
                        {% endif %}
                </div>
                <div class="col-md-2"></div>
                </div>
            </div>
            </div>
    </section>

    <!-- The Modal/Lightbox -->
    <!-- Opens picture to full size on click-->
    <div id="myModal" class="modal">
        <div class="container">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">
                {% for popular in clubs %}
                    <div class="mySlides">
                        <div class="numbertext">
                        </div>
                        <img src="{{ MEDIA_URL }}{{ popular.name }}.jpg" style="width:100%">
                    </div>
                {% endfor %}

                <!-- Next/previous controls -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>
        <!-- Caption text -->
    </div>
    <br>


    <!-- Script to display different pictures on the carousel depending on the day of the week -->

    <script type="text/javascript">

        switch (new Date().getDay()) {
//SUNDAY
            case 0:
                var sun1 = document.createElement("IMG");
                sun1.src = "{{ MEDIA_URL }}subclub.jpg";
                sun1.alt = "subclub";
                document.getElementById('first').appendChild(sun1);
                document.getElementById('cap1').innerHTML = "<a href=\"{% url 'subclub' %}\">Subclub Sundays</a>";
                var sun2 = document.createElement("IMG");
                sun2.src = "{{ MEDIA_URL }}bamboo.jpg";
                sun2.alt = "bamboo";
                document.getElementById('second').appendChild(sun2);
                document.getElementById('cap2').innerHTML = "<a href=\"{% url 'bamboo' %}\">Disco Badger</a>";
                var m3 = document.createElement("IMG");
                sun3.src = "{{ MEDIA_URL }}lacheetah.jpg";
                sun3.alt = "lacheetah";
                document.getElementById('third').appendChild(sun3);
                document.getElementById('cap2').innerHTML = "<a href=\"{% url 'la_cheetah' %}\">Sundays @ La Cheetah</a>";

                document.getElementById('carousel-header').innerHTML = "Check out the biggest nights for Sunday!";
                break;

//MONDAY
            case 1:
                var mon1 = document.createElement("IMG");
                mon1.src = "{{ MEDIA_URL }}viper.jpg";
                mon1.alt = "viper";
                mon1.usemap = "mon1"
                document.getElementById('first').appendChild(mon1);
                document.getElementById('cap1').innerHTML = "<a href=\"{% url 'viper' %}\"> Monday Night Heat</a>";

                var mon2 = document.createElement("IMG");
                mon2.src = "{{ MEDIA_URL }}kokomo1.jpg";
                mon2.alt = "kokomo";
                document.getElementById('second').appendChild(mon2);
                document.getElementById('cap2').innerHTML = "<a href=\"{% url 'kokomo' %}\">Mile High Monday</a>";

                var mon3 = document.createElement("IMG");
                mon3.src = "{{ MEDIA_URL }}polo.jpg";
                mon3.alt = "polo";
                document.getElementById('third').appendChild(mon3);
                document.getElementById('cap3').innerHTML = "<a href=\"{% url 'polo' %}\">Back Door</a>";

                document.getElementById('carousel-header').innerHTML = "Check out the biggest nights for Monday!";
                break;
//TUESDAY
            case 2:
                var tues1 = document.createElement("IMG");
                tues1.src = "{{ MEDIA_URL }}kushion.jpg";
                tues1.alt = "kushion";
                document.getElementById('first').appendChild(tues1);
                document.getElementById('cap1').innerHTML = "<a href=\"{% url 'kushion' %}\">Juicy Tuesday</a>";

                var tues2 = document.createElement("IMG");
                tues2.src = "{{ MEDIA_URL }}subclub.jpg";
                tues2.alt = "subclub";
                document.getElementById('second').appendChild(tues2);
                document.getElementById('cap2').innerHTML = "<a href=\"{% url 'subclub' %}\">I AM @ Subclub</a>";

                var tues3 = document.createElement("IMG");
                tues3.src = "{{ MEDIA_URL }}polo.jpg";
                tues3.alt = "polo";
                document.getElementById('third').appendChild(tues3);
                document.getElementById('cap3').innerHTML = "<a href=\"{% url 'polo' %}\">Text Me Tuesdays</a>";

                document.getElementById('carousel-header').innerHTML = "Check out the biggest nights for Tuesday!";
                break;
//WEDNESDAY
            case 3:
                var wed1 = document.createElement("IMG");
                wed1.src = "{{ MEDIA_URL }}shimmy.jpg";
                wed1.alt = "shimmy";
                document.getElementById('first').appendChild(wed1);
                document.getElementById('cap1').innerHTML = "<a href=\"{% url 'shimmy' %}\">No Way Wednesdays</a>";

                var wed2 = document.createElement("IMG");
                wed2.src = "{{ MEDIA_URL }}bamboo.jpg";
                wed2.alt = "bamboo";
                document.getElementById('second').appendChild(wed2);
                document.getElementById('cap2').innerHTML = "<a href=\"{% url 'bamboo' %}\">W N B</a>";

                var wed3 = document.createElement("IMG");
                wed3.src = "{{ MEDIA_URL }}cathouse.jpg";
                wed3.alt = "cathouse";
                document.getElementById('third').appendChild(wed3);
                document.getElementById('cap3').innerHTML = "<a href=\"{% url 'cathouse' %}\">Beast Wednesdays</a>";

                document.getElementById('carousel-header').innerHTML = "Check out the biggest nights for Wednesday!";
                break;
//THURSDAY
            case 4:
                var thurs1 = document.createElement("IMG");
                thurs1.src = "{{ MEDIA_URL }}hive.jpg";
                thurs1.alt = "hive";
                document.getElementById('first').appendChild(thurs1);
                document.getElementById('cap1').innerHTML = "<a href=\"{% url 'hive' %}\">Hive Thursdays</a>";

                var thurs2 = document.createElement("IMG");
                thurs2.src = "{{ MEDIA_URL }}garage2.jpg";
                thurs2.alt = "garage";
                document.getElementById('second').appendChild(thurs2);
                document.getElementById('cap2').innerHTML = "<a href=\"{% url 'garage' %}\">Element Thursdays</a>";

                var thurs3 = document.createElement("IMG");
                thurs3.src = "{{ MEDIA_URL }}kokomoclub.jpg";
                thurs3.alt = "kokomo";
                document.getElementById('third').appendChild(thurs3);
                document.getElementById('cap3').innerHTML = "<a href=\"{% url 'kokomo' %}\">Party Monster</a>";

                document.getElementById('carousel-header').innerHTML = "Check out the biggest nights for Thursday!";
                break;
//FRIDAY
            case 5:
                var fri1 = document.createElement("IMG");
                fri1.src = "{{ MEDIA_URL }}kushionWorking.jpg";
                fri1.alt = "kushion";
                fri1.href = "gcn/kushion.html"
                document.getElementById('first').appendChild(fri1);
                document.getElementById('cap1').innerHTML = "<a href=\"{% url 'kushion' %}\">Milk Fridays</a>";

                var fri2 = document.createElement("IMG");
                fri2.src = "{{ MEDIA_URL }}bambooclub.jpg";
                fri2.alt = "bamboo";
                document.getElementById('second').appendChild(fri2);
                document.getElementById('cap2').innerHTML = "<a href=\"{% url 'bamboo' %}\">Get Loose Fridays</a>";

                var fri3 = document.createElement("IMG");
                fri3.src = "{{ MEDIA_URL }}viper.jpg";
                fri3.alt = "viper";
                document.getElementById('third').appendChild(fri3);
                document.getElementById('cap3').innerHTML = "<a href=\"{% url 'viper' %}\">FOMO</a>";

                document.getElementById('carousel-header').innerHTML = "Check out the biggest nights for Friday!";
                break;

//SATURDAY
            case 6:
                var sat1 = document.createElement("IMG");
                sat1.src = "{{ MEDIA_URL }}subclub.jpg";
                sat1.alt = "subclub";
                sat1.href = "gcn/subclub.html"
                document.getElementById('first').appendChild(sat1);
                document.getElementById('cap1').innerHTML = "<a href=\"{% url 'subclub' %}\">Subculture</a>";

                var sat2 = document.createElement("IMG");
                sat2.src = "{{ MEDIA_URL }}hive.jpg";
                sat2.alt = "hive";
                document.getElementById('second').appendChild(sat2);
                document.getElementById('cap2').innerHTML = "<a href=\"{% url 'hive' %}\">Switch Saturdays</a>";

                var sat3 = document.createElement("IMG");
                sat3.src = "{{ MEDIA_URL }}garage.jpg";
                sat3.alt = "garage";
                document.getElementById('third').appendChild(sat3);
                document.getElementById('cap3').innerHTML = "<a href=\"{% url 'garage' %}\">I <3 Garage Saturdays</a>";

                document.getElementById('carousel-header').innerHTML = "Check out the biggest nights for Saturday!";
        }

    </script>


    <script>
        // Open the Modal
        function openModal() {
            document.getElementById('myModal').style.display = "block";
        }

        // Close the Modal
        function closeModal() {
            document.getElementById('myModal').style.display = "none";
        }

        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>


    <script>
        var x = 0;
        for (var i = 0; i < 4; i++) {
            var x = x + 1;
        }
    </script>


<!-- Script to add animation to the top rated club models -->
<script>
    var x = 0;
    for (var i=0; i < 4; i++){
        var x = x + 1;
    }
</script>

<!-- Java Script for opening pictures from the top rated clubs -->
<script>
    // Open the Modal
    function openModal() {
        document.getElementById('myModal').style.display = "block";
    }

    // Close the Modal
    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>



{% endblock %}
