<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<script src='{% static "js/search.js" %}'></script>
{% load gcn_template_tags %}
{% block nav_block %}
    <head>
        <title>Glasgow Club Nights</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Internal custom style sheets -->
        <link rel="stylesheet" type="text/css" href="../../static/club.css">
        <link rel="stylesheet" type="text/css" href="../../static/home.css">

        <!-- External stylesheet links -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">
        <link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">

        <!-- External script links -->
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Add icon for star library -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css"
        <link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css"
              rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>

    <body>
    <!--Checks if there are users in database (ie no users have been created -->
    {% if user is null %}
        <section id="navbar">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">Glasgow Club Nights</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'club_list' %}">Club List</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                    </ul>
                    <div class="nav navbar-form navbar-right">
                        <input type="text" placeholder="Search.." id="search">
                        <button type="button" onclick="search()">Submit</button>
                    </div>

                </div>
            </nav>
        </section>
        <!--Checks if user is a club (atm only modeled for kushion
        could implement an array script to search if user = club name-->
    {% elif user.username == 'kushion' %}
        <section id="navbar">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">Glasgow Club Nights</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'club_list' %}">Club List</a></li>
                        <li><a href="{% url 'add_night' %}">Add New Night</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                        <li></li>
                        <li style="float:right" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'logout' %}">Logout</a></li>

                            </ul>
                        </li>
                    </ul>


                    <div class="nav navbar-form navbar-right">
                        <input type="text" placeholder="Search.." id="search">
                        <button type="button" onclick="search()">Submit</button>
                    </div>

                </div>
            </nav>
        </section>
        <!--Checks if user has an account -->
    {% elif user.is_authenticated %}
        <section id="navbar">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">Glasgow Club Nights</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'club_list' %}">Club List</a></li>
                        <li><a href="{% url 'reviews' %}">Make a Review</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                        <li></li>
                        <li style="float:right" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'logout' %}">Logout</a></li>

                            </ul>
                        </li>
                    </ul>


                    <div class="nav navbar-form navbar-right">
                        <input type="text" placeholder="Search.." id="search">
                        <button type="button" onclick="search()">Submit</button>
                    </div>

                </div>
            </nav>
        </section>
        <!--This is the case when the user database is populated however no user logged in currently -->
    {% else %}
        <section id="navbar">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">Glasgow Club Nights</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'club_list' %}">Club List</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>


                    </ul>


                    <div class="nav navbar-form navbar-right">
                        <input type="text" placeholder="Search.." id="search">
                        <button type="button" onclick="search()">Submit</button>
                    </div>

                </div>
            </nav>
        </section>
    {% endif %}


    <!--Search bar script -->
    <script type="text/javascript">
        //Redirects user to relevant page if they correctly search for a club
        function search() {
            var input = document.getElementById('search');
            var clubs = ["bamboo", "cathouse", "firewater", "garage", "hive", "kokomo", "kushion", "lacheetah", "mango", "polo", "sanctuary", "shimmy", "subclub", "swg3", "viper"];
            var filter = input.value.toLowerCase();
            var valid = false;
            for (var i = 0; i < clubs.length; i++) {
                if (clubs[i].valueOf() === filter.valueOf()) {
                    valid = true;
                    break;
                }
            }
            if (valid === true) {
                window.location.href = "/gcn/" + filter;
            } else {
                window.confirm("Your search has not matched the name of a club in our Repo, please try again.");
            }
        }
    </script>

{% endblock %}

{% block body_block %}

{% endblock %}